<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="nl"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
      [[ if $pagetype=="entry" || $pagetype=="page" ]][[title]] - [[sitename]]
      [[ else ]][[sitename]][[/if]]
    </title>
    <link rel="stylesheet" href="[[ template_dir base="true" ]]pivotx_essentials.css" />
    <link rel="stylesheet" href="[[template_dir]]css/reset.css" />
    <link rel="stylesheet" href="[[template_dir]]css/knotsen.css" />
    <script src="[[template_dir]]js/modernizr-2.0.6.min.js"></script>
    <script type="text/javascript">
      var imgArr = new Array( // relative paths of images
        '[[template_dir]]images/pgk-2010.jpg',
        '[[template_dir]]images/pgk-2009.jpg',
        '[[template_dir]]images/pgk-2011.jpg',
        '[[template_dir]]images/pgk-2012.jpg'
      );
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-188573-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <section id="wrapper">
      <section id="header">
        <header>
          <h1>Plattelandsgenotsknotsen - Soest</h1>
        </header>

        <nav>
          <ul>
            <li>
              <a href="[[home]]">Home</a>
            </li>
            [[ getpagelist var="pagelist" onlychapter="hoofdnavigatie" ]]
            [[ foreach from=$pagelist item="pageuri" ]]
              [[ getpage uri=$pageuri ]]
              <li>
                <a href="[[ $page.link ]]">[[ $page.title ]]</a>
              </li>
              [[ resetpage ]]
            [[ /foreach ]]
          </ul>
        </nav>
      </section>
      <section id="content">